<div class="hbox">

    <input type="text" class="form-control form-control-sm" [(ngModel)]="searchStr" (keydown.enter)="doSearch()" [placeholder]="'COMMONS.ACTIONS.SEARCH'|translate" [disabled]="disabled">

    <div class="btn-toolbar ml-1" style="flex-wrap: nowrap">
        <div class="btn-group btn-group-sm" ngbDropdown placement="top-right">
            <button class="btn btn-info" (click)="doSearch()" [disabled]="disabled || loading">
                <i *ngIf="!loading" class="fas fa-search"></i>
                <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            </button>
            <ng-container *ngIf="showAdvSearch()">
                <button class="btn btn-outline-info dropdown-toggle px-1" data-toggle="dropdown" ngbDropdownToggle>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="advancedSearch()">{{'SEARCH.ADV_SEARCH.ADVANCED_SEARCH'|translate}}</button>
                </div>
            </ng-container>
        </div>


        <div class="btn-group btn-group-sm ml-1">
            <div class="btn-group btn-group-sm dropup" ngbDropdown placement="top-right">
                <button class="btn btn-outline-info dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
                    <b *ngIf="searchSettings.stringMatchMode == 'startsWith'">&#945;..</b>
                    <b *ngIf="searchSettings.stringMatchMode == 'contains'">.&#945;.</b>
                    <b *ngIf="searchSettings.stringMatchMode == 'endsWith'">..&#945;</b>
                    <b *ngIf="searchSettings.stringMatchMode == 'exact'">&#945;</b>
                    <b *ngIf="searchSettings.stringMatchMode == 'fuzzy'">~&#945;</b>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button *ngFor="let mode of stringMatchModes" class="dropdown-item" (click)="updateSearchMode(mode.value, $event)">
                        <b class="mr-2" style="display: inline-block; width: 24px;">{{mode.symbol}}</b>
                        <span>{{mode.labelTranslationKey|translate}}</span>
                        <span *ngIf="searchSettings.stringMatchMode == mode.value" class="fas fa-check ml-2"></span>
                    </button>
                </div>
            </div>
            <button class="btn btn-outline-info" (click)="settings()">
                <i class="fas fa-cog"></i>
            </button>
        </div>
    </div>

</div>