<div class="modal-header">
    <h5 class="modal-title">Edit languages</h5>
    <button class="close" (click)="close()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">

    <div  class="alert alert-info mb-2">
        Set the language(s) used for rendering the resources.
    </div>

    <rendering-editor [(ngModel)]="renderingLangs" (ngModelChange)="onRenderingChange()"></rendering-editor>

    <div *ngIf="defaultPrefLangs" class="mt-2" style="font-size: 12px;">
        <span *ngIf="cookieLangs">
            The administrator has provided a default language set for the dataset <i>{{project.getName()}}</i>.
            Click <a href="javascript:void(0)" (click)="restoreDefault()">here</a> to set it.
        </span>
        <span *ngIf="!cookieLangs">
            The current language set is the default provided by the administrator for the dataset <i>{{project.getName()}}</i>.
        </span>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
</div>