<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h5 class="modal-title">Graph</h5>
        <button class="close" (click)="close()">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body" style="min-height: 70vh;">
        <data-graph-panel *ngIf="mode=='dataOriented'" [graph]="graph" [rendering]="rendering" [role]="role"></data-graph-panel>
        <model-graph-panel *ngIf="mode=='modelOriented'" [graph]="graph" [rendering]="rendering"></model-graph-panel>
        <uml-graph-panel *ngIf="mode=='umlOriented'" [graph]="graph" [rendering]="rendering"></uml-graph-panel>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>