<div class="card vbox">
    <div class="card-header">
        <div class="btn-toolbar float-right">
            <button class="btn btn-light btn-sm" [ngClass]="{active: rendering}" title="Rendering" (click)="rendering=!rendering">
                <i class="fas fa-font"></i>
            </button>
            <button class="btn btn-light btn-sm ml-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
                <span class="fas fa-sync"></span>
            </button>
            <button class="btn btn-light btn-sm ml-1" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
                <span class="fas fa-cog"></span>
            </button>
        </div>
    </div>

    <div class="card-body vbox">

        <div *ngIf="lexiconChangeable" class="pb-1" style="display: flex; align-items: center">
            <span class="mx-1" style="white-space: nowrap;">Lexicon:</span>
            <select class="form-control form-control-sm" [(ngModel)]="workingLexicon" (ngModelChange)="onLexiconSelectionChange()">
                <option *ngFor="let l of lexiconList" [ngValue]="l">{{getLexiconRendering(l)}}</option>
            </select>
        </div>

        <div *ngIf="visualizationMode == 'indexBased'" class="pb-1" style="display: flex; align-items: center">
            <select class="form-control form-control-sm" [(ngModel)]="firstDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
                <option *ngFor="let i of alphabet">{{i}}</option>
            </select>
            <ng-container *ngIf="indexLenght>1">
                <span class="mx-1" style="font-weight: bold;">&gt;</span>
                <select class="form-control form-control-sm" [(ngModel)]="secondDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
                    <option value=" ">{{firstDigitIndex}}⎵</option>
                    <option *ngFor="let i of alphabet" [value]="i">{{firstDigitIndex}}{{i}}</option>
                </select>
            </ng-container>
        </div>

        <div *ngIf="visualizationMode == 'searchBased' && !closedAlert" class="alert alert-info alert-dismissible mb-1">
            {{'DATA.LEX_ENTRY.USE_SEARCH_MSG'|translate}}
            <button class="close" (click)="closedAlert=true">
                <span>&times;</span>
            </button>
        </div>

        <lexical-entry-list [lexicon]="workingLexicon" [index]="index" [rendering]="rendering" [showDeprecated]="showDeprecated" [context]="context"
            (nodeSelected)="onNodeSelected($event)" (requireSettings)="settings()">
        </lexical-entry-list>
    </div>

    <div *ngIf="!hideSearch" class="card-footer">
        <search-bar (searchResults)="handleSearchResults($event)" [roles]="[panelRole]" [lexicon]="lexicon"></search-bar>
    </div>
</div>