<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h5 class="modal-title">{{title}}</h5>
        <button class="close" (click)="close()">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="hbox align-items-center mb-1" style="flex: initial;">
            <label class="mr-1">{{'DATA.LEXICON.LEXICON'|translate}}:</label>
            <button class="btn btn-light btn-sm" [title]="'DATA.LEXICON.ACTIONS.CHANGE_LEXICON'|translate" (click)="changeLexicon()" [disabled]="!lexiconChangeable">
                <rdf-resource *ngIf="activeLexicon" [resource]="activeLexicon"></rdf-resource>
                <span *ngIf="!activeLexicon">{{'DATA.LEXICON.ACTIONS.SELECT_LEXICON'|translate}}</span>
            </button>
        </div>

        <lexical-entry-list-panel [lexicon]="activeLexicon" (nodeSelected)="onNodeSelected($event)">
        </lexical-entry-list-panel>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!selectedNode">Ok</button>
        <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>