<div class="modal-header">
	<h5 [class]="'modal-title ' + titleClass">{{title}}</h5>
	<button type="button" class="close" (click)="close()">
		<span>&times;</span>
	</button>
</div>
<div class="modal-body">
	<div *ngIf="alertClass" [class]="alertClass + ' vbox'" style="margin: 0;">
		{{message}}

		<div *ngIf="details" class="vbox mt-1">
            <div (click)="detailsCollapsed = !detailsCollapsed">
                <div class="expandCollapseBtnContainer" style="display: inline">
                    <img src="./assets/images/icons/arrow.png" [ngClass]="{'arrow-right': detailsCollapsed}">
                </div>
                <label>Details:</label>
            </div>
            <div *ngIf="!detailsCollapsed" class="card vbox">
                <div class="card-body overflow-auto">
                    {{details}}
                </div>
            </div>
		</div>
		
	</div>
	<p *ngIf="!alertClass" style="margin: 0;">{{message}}</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
</div>