<div class="card vbox">
    <div class="card-header">
        <div class="btn-toolbar float-right">
            <button class="btn btn-light btn-sm" [ngClass]="{active: rendering}" title="Rendering" (click)="rendering=!rendering">
                <i class="fas fa-font"></i>
            </button>
            <button class="btn btn-light btn-sm ml-1" title="Refresh" (click)="refresh()">
                <span class="fas fa-sync"></span>
            </button>
        </div>
    </div>
    
    <div class="card-body vbox">
        <lexicon-list [rendering]="rendering" [showDeprecated]="showDeprecated" [context]="context" (nodeSelected)="onNodeSelected($event)">
        </lexicon-list>
    </div>

    <div class="card-footer">
        <search-bar (searchResults)="handleSearchResults($event)" [role]="panelRole"></search-bar>
    </div>
</div>