<div class="card vbox">
    <div class="card-body vbox">
        <div #scrollableContainer class="scrollableContainer p-2" (scroll)="onScroll()">

            <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>

            <ng-container *ngIf="!safeToGo.safe && visualizationMode == 'hierarchyBased'; then unsafetyBlock else safetyBlock"></ng-container>

            <ng-template #safetyBlock>
                <ng-container *ngFor="let n of nodes; let idx = index">
                    <concept-tree-node *ngIf="idx < nodesLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())"
                        [node]="n" [schemes]="schemes" [rendering]="rendering" [showDeprecated]="showDeprecated" [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </concept-tree-node> 
                </ng-container>
            </ng-template>

            <ng-template #unsafetyBlock>
                <div *ngIf="!loading" class="alert alert-warning m-2">
                    {{'DATA.CONCEPT.UNSAFE_WARN.ELEMENT_COUNT'|translate:translationParam}}
                    {{'DATA.CONCEPT.UNSAFE_WARN.PERFORMANCE_ISSUE'|translate}}<br>
                    {{'DATA.CONCEPT.UNSAFE_WARN.SWITCH_MODE'|translate}}
                    <a href="javascript:void(0)" (click)="requireSettings.emit()">{{'DATA.CONCEPT.UNSAFE_WARN.SETTINGS'|translate}}</a>.<br>
                    <ng-container *ngIf="!schemes || schemes.length == 0">
                        {{'DATA.CONCEPT.UNSAFE_WARN.SELECT_SCHEME'|translate}}<br>
                    </ng-container>
                    {{'DATA.CONCEPT.UNSAFE_WARN.FORCE_INIT'|translate}}
                    <a href="javascript:void(0)" (click)="forceSafeness()">{{'DATA.CONCEPT.UNSAFE_WARN.HERE'|translate}}</a>.
                </div>
            </ng-template>

        </div>
    </div>
</div>