<div class="modal-header">
    <h5 class="modal-title">Concept tree settings</h5>
    <button class="close" (click)="close()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">

    <table class="table table-sm table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td nowrap><label>Visualization mode:</label></td>
                <td>
                    <select class="form-control form-control-sm" [(ngModel)]="visualization" [disabled]="!allowVisualizationChange">
                        <option *ngFor="let vm of visualizationModes" [value]="vm.value">{{vm.label}}</option>
                    </select>
                </td>
            </tr>
            <tr *ngIf="visualization == 'hierarchyBased'">
                <td nowrap>
                    <label>
                        Top concepts limitation:
                        <span class="fas fa-info-circle" 
                            title="Sets the maximum amount of lexical entries visible in the list. This setting prevents the initialization of a list that might cause performance issues">
                        </span>
                    </label>
                </td>
                <td>
                    <input class="form-control form-control-sm" type="number" min="1" [(ngModel)]="safeToGoLimit">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">Cancel</button>
</div>