<div class="card vbox">
	<div class="card-header">
		<div class="btn-toolbar float-right">
			<button class="btn btn-light btn-sm" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="rendering=!rendering">
				<i class="fas fa-font"></i>
			</button>
			<button class="btn btn-light btn-sm ml-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
				<span class="fas fa-sync"></span>
			</button>
			<button *ngIf="context == 'dataPanel'" class="btn btn-light btn-sm ml-1" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
				<span class="fas fa-cog"></span>
			</button>
		</div>
	</div>

	<div class="card-body vbox" style="position: relative">

		<div *ngIf="schemeChangeable" class="d-flex align-items-center mb-2" style="justify-content: end;">
            <button class="btn btn-light btn-xs float-right" (click)="changeSchemeSelection()">
                <img src="./assets/images/icons/res/conceptScheme.png">
                {{'DATA.ACTIONS.SELECT_SCHEME'|translate}}
            </button>
        </div>

		<div *ngIf="visualizationMode == 'searchBased' && !closedAlert" class="alert alert-warning alert-dismissible mb-1">
			{{'DATA.CONCEPT.USE_SEARCH_MSG'|translate}}
			<button class="close" (click)="closedAlert=true">
				<span>&times;</span>
			</button>
		</div>

		<concept-tree [schemes]="workingSchemes" [rendering]="rendering" [showDeprecated]="showDeprecated" [context]="context"
			(nodeSelected)="onNodeSelected($event)" (requireSettings)="settings()">
		</concept-tree>

	</div>

	<div *ngIf="!hideSearch" class="card-footer">
		<search-bar (searchResults)="handleSearchResults($event)" (advancedSearchResult)="handleAdvSearchResult($event)"
			[roles]="[panelRole]" [schemes]="workingSchemes" [context]="context"></search-bar>
	</div>

</div>