<div class="treeNode" #treeNodeElement>
    <div class="expandCollapseBtnContainer">
        <ng-container *ngIf="showExpandCollapseBtn">
            <img *ngIf="!open" src="./assets/images/icons/arrow.png" class="arrow-right" (click)="expandNode().subscribe()">
            <img *ngIf="open" src="./assets/images/icons/arrow.png" (click)="collapseNode()">
        </ng-container>
    </div>
    <rdf-resource [resource]="node" [rendering]="rendering" (click)="selectNode()"
        [ngClass]="{selectedResource : node.getAttribute('selected')}"></rdf-resource>
</div>

<div class="subTree" *ngIf="node.getAttribute('more') == 1">
    <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>
    <ng-container *ngFor="let n of children">
        <concept-tree-node *ngIf="!n.isDeprecated() || showDeprecated && n.isDeprecated()" 
            [node]="n" [schemes]="schemes" [rendering]="rendering" [showDeprecated]="showDeprecated" [context]="context" (nodeSelected)="onNodeSelected($event)">
        </concept-tree-node>
    </ng-container>
</div>