<div class="card vbox">
	<div class="card-header">
		<div class="btn-toolbar float-right">
			<button class="btn btn-light btn-sm" [ngClass]="{active: rendering}" title="Rendering" (click)="rendering=!rendering">
				<i class="fa fa-font"></i>
			</button>
			<button class="btn btn-light btn-sm ml-1" title="Refresh" (click)="refresh()">
				<span class="fa fa-refresh"></span>
            </button>
            <button class="btn btn-light btn-sm ml-1" title="Settings" (click)="settings()">
                <span class="fa fa-cog"></span>
            </button>
		</div>
	</div>

	<div class="card-body vbox" style="position: relative">

		<div *ngIf="schemeChangeable" class="pb-1" style="display: flex; align-items: center">
			<span class="mx-1" style="white-space: nowrap;">Concept Scheme:</span>
			<select class="form-control form-control-sm" [(ngModel)]="selectedScheme" (ngModelChange)="onSchemeSelectionChange()">
				<option value="---">no-scheme</option>
				<option *ngFor="let s of schemeList" [value]="s.getValue().getIRI()">{{getSchemeRendering(s)}}</option>
			</select>
		</div>

		<ngb-alert *ngIf="!closedAlert && visualizationMode == 'searchBased'" (close)="closedAlert=true" type="info" class="mb-1">
			Please use the search field to retrieve concepts
		</ngb-alert>
        
		<concept-tree [schemes]="workingSchemes" [rendering]="rendering" [showDeprecated]="showDeprecated" [context]="context" (nodeSelected)="onNodeSelected($event)">
        </concept-tree>

	</div>

	<div class="card-footer">
        <search-bar (searchResults)="handleSearchResults($event)" [role]="panelRole" [schemes]="schemesForSearchBar"></search-bar>
	</div>

</div>