<div left class="card vbox">
    <div class="card-body vbox p-0">
        <ul ngbNav #nav="ngbNav" [(activeId)]="initialActiveTab" [destroyOnHide]="false" class="nav-tabs">
            <li *ngIf="isTabVisible('cls')" [ngbNavItem]="'cls'">
                <a ngbNavLink>{{'DATA.CLASS.CLASS'|translate}}</a>
                <ng-template ngbNavContent>
                    <class-instance-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
                    </class-instance-panel>
                </ng-template>
            </li>
            <li *ngIf="isTabVisible('concept')" [ngbNavItem]="'concept'">
                <a ngbNavLink>{{'DATA.CONCEPT.CONCEPT'|translate}}</a>
                <ng-template ngbNavContent>
                    <concept-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
                    </concept-tree-panel>
                </ng-template>
            </li>
            <li *ngIf="isTabVisible('skosCollection')" [ngbNavItem]="'skosCollection'">
                <a ngbNavLink>{{'DATA.COLLECTION.COLLECTION'|translate}}</a>
                <ng-template ngbNavContent>
                    <collection-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
                    </collection-tree-panel>
                </ng-template>
            </li>
            <li *ngIf="isTabVisible('conceptScheme')" [ngbNavItem]="'conceptScheme'">
                <a ngbNavLink>{{'DATA.SCHEME.SCHEME'|translate}}</a>
                <ng-template ngbNavContent>
                    <scheme-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
                    </scheme-list-panel>
                </ng-template>
            </li>
            <li [ngbNavItem]="'property'">
                <a ngbNavLink>{{'DATA.PROPERTY.PROPERTY'|translate}}</a>
                <ng-template ngbNavContent>
                    <property-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
                    </property-tree-panel>
                </ng-template>
            </li>
            <li *ngIf="isTabVisible('limeLexicon')" [ngbNavItem]="'limeLexicon'">
                <a ngbNavLink>{{'DATA.LEXICON.LEXICON'|translate}}</a>
                <ng-template ngbNavContent>
                    <lexicon-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
                    </lexicon-list-panel>
                </ng-template>
            </li>
            <li *ngIf="isTabVisible('ontolexLexicalEntry')" [ngbNavItem]="'ontolexLexicalEntry'">
                <a ngbNavLink>{{'DATA.LEX_ENTRY.LEX_ENTRY'|translate}}</a>
                <ng-template ngbNavContent>
                    <lexical-entry-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
                    </lexical-entry-list-panel>
                </ng-template>
            </li>
            <li [ngbNavItem]="'alignments'">
                <a ngbNavLink>{{'ALIGNMENTS.ALIGNMENTS'|translate}}</a>
                <ng-template ngbNavContent>
                    <alignments-tree-panel (linksetSelected)="onLinksetSelected($event)"></alignments-tree-panel>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>

    <div style="position: absolute; top: 6px; right: 6px;">
        <button class="btn btn-sm btn-light" (click)="changeRendering()" [title]="'DATA.ACTIONS.CHANGE_RENDERING'|translate">
            <span class="fas fa-globe-europe"></span>
        </button>
    </div>

</div>