<div left class="card vbox">
    <div class="card-body vbox p-0">
        <ul ngbNav #nav="ngbNav" [(activeId)]="initialActiveTab" [destroyOnHide]="false" class="nav-tabs">
            <li *ngIf="model == 'OWL' || model == 'RDFS'" [ngbNavItem]="'cls'">
                <a ngbNavLink>Class</a>
                <ng-template ngbNavContent>
                    <class-instance-panel [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </class-instance-panel>
                </ng-template>
            </li>
            <li *ngIf="model == 'SKOS' || model == 'OntoLex'" [ngbNavItem]="'concept'">
                <a ngbNavLink>Concept</a>
                <ng-template ngbNavContent>
                    <concept-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </concept-tree-panel>
                </ng-template>
            </li>
            <li *ngIf="model == 'SKOS'" [ngbNavItem]="'collection'">
                <a ngbNavLink>Collection</a>
                <ng-template ngbNavContent>
                    <collection-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </collection-tree-panel>
                </ng-template>
            </li>
            <li *ngIf="model == 'SKOS' || model == 'OntoLex'" [ngbNavItem]="'conceptScheme'">
                <a ngbNavLink>Scheme</a>
                <ng-template ngbNavContent>
                    <scheme-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)"></scheme-list-panel>
                </ng-template>
            </li>
            <li [ngbNavItem]="'property'">
                <a ngbNavLink>Property</a>
                <ng-template ngbNavContent>
                    <property-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </property-tree-panel>
                </ng-template>
            </li>
            <li *ngIf="model == 'OntoLex'" [ngbNavItem]="'limeLexicon'">
                <a ngbNavLink>Lexicon</a>
                <ng-template ngbNavContent>
                    <lexicon-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </lexicon-list-panel>
                </ng-template>
            </li>
            <li *ngIf="model == 'OntoLex'" [ngbNavItem]="'ontolexLexicalEntry'">
                <a ngbNavLink>LexEntry</a>
                <ng-template ngbNavContent>
                    <lexical-entry-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </lexical-entry-list-panel>
                </ng-template>
            </li>
            <li [ngbNavItem]="'alignments'">
                <a ngbNavLink>Alignments</a>
                <ng-template ngbNavContent>
                    <alignments-list-panel (linksetSelected)="onLinksetSelected($event)"></alignments-list-panel>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>

    <div style="position: absolute; top: 6px; right: 6px;">
        <button class="btn btn-sm btn-light" (click)="changeRendering()" title="Change rendering">
            <span class="fas fa-globe-europe"></span>
        </button>
    </div>

</div>