<div class="card vbox">

    <div class="card-body vbox scrollableContainer">

        <!-- Email -->
        <div class="card mb-2">
            <div class="card-header">
                <label>{{'ADMINISTRATION.SYSTEM.EMAIL.EMAIL_CONFIG'|translate}}:</label>
            </div>
            <div class="card-body">
                <div *ngIf="!closedAlert1" class="alert alert-info alert-dismissible mb-1">
                    <span [innerHTML]="'ADMINISTRATION.SYSTEM.EMAIL.EMAIL_CONFIG_INFO'|translate"></span>
                    <button class="close" (click)="closedAlert1=true"><span>&times;</span></button>
                </div>
                <table class="table table-sm table-borderless">
                    <colgroup>
                        <col style="width: 1%;">
                        <col style="width: 1%;">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_URL_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>Mail SMTP host:</label>
                            </td>
                            <td><input class="form-control form-control-sm" [(ngModel)]="emailConfig.mailSmtpHost"></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_PORT_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>Mail SMTP port:</label>
                            </td>
                            <td><input class="form-control form-control-sm" [(ngModel)]="emailConfig.mailSmtpPort"></td>
                        </tr>

                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.CRYPTOGRAPHIC_PROTOCOL'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>{{'ADMINISTRATION.SYSTEM.EMAIL.CRYPTOGRAPHIC_PROTOCOL'|translate}}:</label>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="cryptoProtocol" (ngModelChange)="updateProtocol()">
                                    <option>SSL</option>
                                    <option>TLS</option>
                                    <option>None</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.AUTHENTICATION_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>{{'ADMINISTRATION.SYSTEM.EMAIL.AUTHENTICATION'|translate}}:</label>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="authRadio" value="true" [(ngModel)]="emailConfig.mailSmtpAuth">
                                    <label class="form-check-label">yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="authRadio" value="false" [(ngModel)]="emailConfig.mailSmtpAuth">
                                    <label class="form-check-label">no</label>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_FROM_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>Mail from address:</label>
                            </td>
                            <td><input class="form-control form-control-sm" type="email" [(ngModel)]="emailConfig.mailFromAddress"></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_PASSWORD_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>Mail from password:</label>
                            </td>
                            <td>
                                <input *ngIf="!emailConfig.mailSmtpAuth; else authBlock" class="form-control form-control-sm" disabled>
                                <ng-template #authBlock>
                                    <div class="hbox" style="align-items: center;">
                                        <password-input [(ngModel)]="emailConfig.mailFromPassword" size="sm" style="flex: 1;"></password-input>
                                        <span class="fas fa-exclamation-triangle ml-2" [title]="'ADMINISTRATION.SYSTEM.COMMONS.MAIL_PASSWORD_WARN'|translate"></span>
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_ALIAS_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>Mail from alias:</label>
                            </td>
                            <td><input class="form-control form-control-sm" [(ngModel)]="emailConfig.mailFromAlias"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer" style="text-align: right;">
                <button class="btn btn-outline-info btn-sm" (click)="testEmailConfig()" [disabled]="testEmailConfigLoading">
                    Test
                    <div *ngIf="testEmailConfigLoading" class="spinner-border spinner-border-sm"></div>
                </button>
                <button type="submit" class="btn btn-info btn-sm ml-1" (click)="updateEmailConfig()" [disabled]="!isEmailConfigChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
            </div>
        </div>

        <!-- Remote access -->
        <div class="card mb-2">
            <div class="card-header">
                <label>{{'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.REMOTE_ACCESS_CONFIG'|translate}}:</label>
            </div>
            <div class="card-body">
                <div *ngIf="!closedAlert2" class="alert alert-info alert-dismissible mb-1">
                    <span [innerHTML]="'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.REMOTE_ACCESS_CONFIG_INFO'|translate"></span>
                    <button class="close" (click)="closedAlert2=true"><span>&times;</span></button>
                </div>
                <table class="table table-sm table-borderless">
                    <colgroup>
                        <col style="width: 1%;">
                        <col style="width: 1%;">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.URL_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>{{'COMMONS.CONFIG.SERVER_URL'|translate}}:</label>
                            </td>
                            <td><input class="form-control form-control-sm" [(ngModel)]="remoteAccessConfig.serverURL"></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.USERNAME_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>{{'COMMONS.CONFIG.USERNAME'|translate}}:</label>
                            </td>
                            <td><input class="form-control form-control-sm" [(ngModel)]="remoteAccessConfig.username"></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.PASSWORD_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>{{'COMMONS.CONFIG.PASSWORD'|translate}}:</label>
                            </td>
                            <td>
                                <div class="hbox" style="align-items: center;">
                                    <password-input [(ngModel)]="remoteAccessConfig.password" size="sm" style="flex: 1;"></password-input>
                                    <span class="fas fa-exclamation-triangle ml-2" [title]="'ADMINISTRATION.SYSTEM.COMMONS.MAIL_PASSWORD_WARN'|translate"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer" style="text-align: right;">
                <button type="submit" class="btn btn-info btn-sm ml-1" (click)="updateRemoteConfig()" [disabled]="!isRemoteConfigChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <label>{{'ADMINISTRATION.SYSTEM.VB_CONFIG.VB_CONFIG'|translate}}:</label>
            </div>
            <div class="card-body">
                <div *ngIf="!closedAlert3" class="alert alert-info alert-dismissible mb-1">
                    <span [innerHTML]="'ADMINISTRATION.SYSTEM.VB_CONFIG.VB_CONFIG_INFO'|translate"></span>
                    <button class="close" (click)="closedAlert3=true"><span>&times;</span></button>
                </div>
                <table class="table table-sm table-borderless">
                    <colgroup>
                        <col style="width: 1%;">
                        <col style="width: 1%;">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.VB_CONFIG.VB_URL_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>VocBench URL:</label>
                            </td>
                            <td>
                                <input class="form-control form-control-sm" [(ngModel)]="vbConnectionConfig.vbUrl">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.VB_CONFIG.ST_HOST_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>SemanticTurkey Host:</label>
                            </td>
                            <td><input class="form-control form-control-sm" [(ngModel)]="vbConnectionConfig.stHost"></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.VB_CONFIG.ADMIN_EMAIL_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>VocBench/SemanticTurkey admin email:</label>
                            </td>
                            <td><input class="form-control form-control-sm" [(ngModel)]="vbConnectionConfig.adminEmail"></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.VB_CONFIG.ADMIN_PASSWORD_INFO'|translate"></span>
                            </td>
                            <td nowrap>
                                <label>VocBench/SemanticTurkey admin password:</label>
                            </td>
                            <td>
                                <div class="hbox" style="align-items: center;">
                                    <password-input [(ngModel)]="vbConnectionConfig.adminPassword" size="sm" style="flex: 1;"></password-input>
                                    <span class="fas fa-exclamation-triangle ml-2" [title]="'ADMINISTRATION.SYSTEM.COMMONS.MAIL_PASSWORD_WARN'|translate"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer" style="text-align: right;">
                <button class="btn btn-outline-info btn-sm" (click)="testVbConnection()" [disabled]="testVbConfigLoading">
                    Test
                    <div *ngIf="testVbConfigLoading" class="spinner-border spinner-border-sm"></div>
                </button>
                <button type="submit" class="btn btn-info btn-sm ml-1" (click)="updateVbConfig()" [disabled]="!isVbConfigChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
            </div>
        </div>

    </div>
</div>