<div class="modal-header">
    <h5 class="modal-title">Alignment</h5>
    <button class="close" (click)="close()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">

    <div *ngIf="loading" class="spinner-border text-info"></div>
    
    <div *ngIf="alignments" class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <th>{{sourceProject.getName()}}</th>
                    <th>{{targetProject.getName()}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of alignments">
                    <td>
                        <span (click)="openSourceResource(a.sourceResource)" style="cursor: pointer">{{a.sourceResource.getIRI()}}</span>
                    </td>
                    <td>
                        <span (click)="openTargetResource(a.targetResource)" style="cursor: pointer">{{a.targetResource.getIRI()}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="modal-footer">
    <!-- <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!selectedNode">Ok</button> -->
    <button class="btn btn-sm btn-secondary" (click)="close()">Close</button>
</div>