<div class="card vbox">
    <div class="card-body scrollableContainer">

        <div *ngIf="loading" class="spinner-border text-info"></div>
    
        <div *ngIf="mappings" class="table-responsive">
            <table class="table table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th>{{sourceProject.getName()}}</th>
                        <th>Predicate</th>
                        <th>????</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of mappings">
                        <td>
                            <span (click)="openSourceResource(m[0])" style="cursor: pointer">{{m.getLeft().getIRI()}}</span>
                        </td>
                        <td>
                            <span>{{m.getMiddle().getIRI()}}</span>
                        </td>
                        <td>
                            <span (click)="openSourceResource(m[2])" style="cursor: pointer">{{m.getRight().getIRI()}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

