<div class="container my-3">
    <h1 class="mb-2">Load data</h1>


    <div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">
                Email address
                <span class="fa fa-info-circle" title="The email address with which you submitted the contribution"></span>
            </label>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" [(ngModel)]="contributorEmail" placeholder="Email address">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">
                Project name
                <span class="fa fa-info-circle" title="The project name provided in the notification email of contribution approval"></span>
            </label>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" [(ngModel)]="projectName" placeholder="Project name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">File</label>
            <div class="col-sm-10">
                <file-picker (fileChanged)="fileChangeEvent($event)" size="sm" [accept]="filePickerAccept"></file-picker>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Lifter</label>
            <div class="col-sm-6">
                <extension-configurator *ngIf="lifters" [extensions]="lifters"
                    (extensionUpdated)="onLifterExtensionUpdated($event)"
                    (configurationUpdated)="selectedLifterConfig = $event" disabled="true">
                </extension-configurator>
            </div>
            <label class="col-sm-1 col-form-label col-form-label-sm">Format</label>
            <div class="col-sm-3">
                <select class="form-control form-control-sm" [(ngModel)]="selectedInputFormat">
                    <option *ngFor="let f of inputFormats" [ngValue]="f">{{f.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Resolve imports</label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" [(ngModel)]="selectedImportAllowance">
                    <option *ngFor="let ia of importAllowances" [ngValue]="ia.allowance">{{ia.show}}</option>
                </select>
            </div>
        </div>

    </div>

    <div class="text-right">
        <button class="btn btn-info" (click)="load()" [disabled]="!projectName || !contributorEmail || !file">Load</button>
    </div>

</div>