<div class="container my-3">
    <h1 class="mb-2">{{'ADMINISTRATION.DATASETS.MANAGEMENT.LOAD_DATA'|translate}}</h1>


    <div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">
                {{'CONTRIBUTIONS.LOAD.EMAIL_ADDRESS'|translate}}
                <span class="fas fa-info-circle" [title]="'CONTRIBUTIONS.LOAD.EMAIL_ADDRESS_INFO'|translate"></span>
            </label>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" [(ngModel)]="contributorEmail" [placeholder]="'CONTRIBUTIONS.LOAD.EMAIL_ADDRESS'|translate">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">
                {{'CONTRIBUTIONS.LOAD.DATASET_NAME'|translate}}
                <span class="fas fa-info-circle" [title]="'CONTRIBUTIONS.LOAD.DATASET_NAME_INFO'|translate"></span>
            </label>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" [(ngModel)]="projectName" [placeholder]="'CONTRIBUTIONS.LOAD.DATASET_NAME'|translate">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">File</label>
            <div class="col-sm-10">
                <file-picker (fileChanged)="fileChangeEvent($event)" size="sm" [accept]="filePickerAccept"></file-picker>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Lifter</label>
            <div class="col-sm-6">
                <extension-configurator *ngIf="lifters" [extensions]="lifters"
                    (extensionUpdated)="onLifterExtensionUpdated($event)"
                    (configurationUpdated)="selectedLifterConfig = $event" disabled="true">
                </extension-configurator>
            </div>
            <label class="col-sm-1 col-form-label col-form-label-sm">{{'COMMONS.FORMAT'|translate}}</label>
            <div class="col-sm-3">
                <select class="form-control form-control-sm" [(ngModel)]="selectedInputFormat">
                    <option *ngFor="let f of inputFormats" [ngValue]="f">{{f.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">{{'ADMINISTRATION.DATASETS.MANAGEMENT.RESOLVE_IMPORTS'|translate}}</label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" [(ngModel)]="selectedImportAllowance">
                    <option *ngFor="let ia of importAllowances" [ngValue]="ia.allowance">{{ia.show}}</option>
                </select>
            </div>
        </div>

    </div>

    <div class="text-right">
        <button class="btn btn-info" (click)="load()" [disabled]="!projectName || !contributorEmail || !file || loading">
            {{'COMMONS.ACTIONS.LOAD'|translate}}
            <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        </button>
    </div>

</div>