<div class="modal-header">
    <h5 class="modal-title">{{'ADMINISTRATION.DATASETS.CREATE_DATASET'|translate}}</h5>
    <button class="close" (click)="close()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="card">
        <div class="card-body">
            <div class="custom-control custom-switch text-right mb-1" (click)="formLocked = !formLocked" [title]="lockTooltip">
                <input type="checkbox" class="custom-control-input" [ngModel]="formLocked">
                <label class="custom-control-label">
                    <span *ngIf="formLocked" class="fas fa-lock"></span>
                    <span *ngIf="!formLocked" class="fas fa-unlock-alt"></span>
                </label>
            </div>
            <fieldset [disabled]="formLocked">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.NAME'|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" [(ngModel)]="projectName" placeholder="Dataset name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" [(ngModel)]="baseURI" [placeholder]="'MODELS.PROJECT.BASE_URI'|translate">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.MODEL'|translate}}</label>
                    <div class="col-sm-4">
                        <select class="form-control form-control-sm" [(ngModel)]="selectedSemModel">
                            <option *ngFor="let m of semanticModels" [ngValue]="m.uri">{{m.show}}</option>
                        </select>
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</label>
                    <div class="col-sm-4">
                        <select class="form-control form-control-sm" [(ngModel)]="selectedLexModel">
                            <option *ngFor="let m of lexicalizationModels" [ngValue]="m.uri">{{m.show}}</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <hr class="separator">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.REPO_ACCESS'|translate}}</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-sm" [(ngModel)]="selectedRepositoryAccess">
                        <option *ngFor="let ra of repositoryAccessList">{{ra}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.CONFIG.REPO_CONFIGURATION'|translate}}</label>
                <div class="col-sm-10">
                    <extension-configurator #dataRepoConfigurator *ngIf="dataRepoExtensions"
                        [extensions]="dataRepoExtensions" [storeable]="false"
                        (extensionUpdated)="selectedDataRepoExtension = $event"
                        (configurationUpdated)="selectedDataRepoConfig = $event">
                    </extension-configurator>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="loading">
        Ok <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
</div>