<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Resource name</label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" [(ngModel)]="resourceName" placeholder="Resource name">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">Home page <span>*</span></label>
    <div class="col-sm-10">
        <input class="form-control form-control-sm" [(ngModel)]="homepage" placeholder="Home page">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.DESCRIPTION'|translate}}</label>
    <div class="col-sm-10">
        <textarea class="form-control form-control-sm" [(ngModel)]="description" [placeholder]="'COMMONS.DESCRIPTION'|translate"></textarea>
    </div>
</div>
<div class="form-check">
    <label class="form-check-label form-check-label-sm">
        <input class="form-check-input" type="checkbox" [(ngModel)]="owner">
        I'm the owner of the resource
    </label>
</div>

<hr class="separator">

<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
    <div class="col-sm-10 d-flex align-items-center">
        <input class="form-control form-control-sm" [(ngModel)]="baseURI" [placeholder]="'MODELS.PROJECT.BASE_URI'|translate">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.MODEL'|translate}}</label>
    <div class="col-sm-4">
        <select class="form-control form-control-sm" [(ngModel)]="selectedSemModel">
            <option *ngFor="let m of semanticModels" [ngValue]="m.uri">{{m.show}}</option>
        </select>
    </div>
    <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.LEXICALIZATION_MODEL'|translate}}</label>
    <div class="col-sm-4">
        <select class="form-control form-control-sm" [(ngModel)]="selectedLexModel">
            <option *ngFor="let m of lexicalizationModels" [ngValue]="m.uri">{{m.show}}</option>
        </select>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Metadata
        <button class="btn btn-xs btn-info float-right" (click)="discoverMetadata()" [disabled]="!baseURI || loadingMetadata">
            Discover
            <span *ngIf="loadingMetadata" class="spinner-border spinner-border-sm"></span>
        </button>
    </div>

    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Identity <span>*</span></label>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" [(ngModel)]="identity" placeholder="Identity IRI">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Dereferenciation system <span>*</span></label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" [(ngModel)]="dereferenciationSystem">
                    <option *ngFor="let opt of dereferenciationOpts" [ngValue]="opt.uri">{{opt.show}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Sparql endpoint <span>*</span></label>
            <div class="col-sm-10 d-flex">
                <input class="form-control form-control-sm" [(ngModel)]="sparqlEndpoint" placeholder="SPARQL endpoint URL">
                <div class="form-check form-check-inline ml-2">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="sparqlNoAggregation" [disabled]="!sparqlEndpoint">
                    <label class="form-check-label text-nowrap">No aggregation</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">URI space <span>*</span></label>
            <div class="col-sm-10">
                <input class="form-control form-control-sm" [(ngModel)]="uriSpace" placeholder="URI space">
            </div>
        </div>
    </div>

</div>