<div class="card vbox">
    <div class="card-body vbox">
        <div #scrollableContainer class="scrollableContainer p-2">
            <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>
            <div *ngFor="let l of linksets" class="listItem" [ngClass]="{ selectedLinkset : l == selectedLinkset }"
                style="cursor: pointer;" (click)="selectLinkset(l)">
                <span class="badge badge-info mr-1">{{l.linkCount}}</span>
                <span>{{l.getTargetDatasetShow()}}</span>
            </div>
        </div>
    </div>
</div>