<div class="card vbox">
    <div class="card-body vbox">
        <div #scrollableContainer class="scrollableContainer p-2">
            <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>

            <div *ngIf="missingProfile" class="alert alert-warning">
                Unable to find metadata about the current project in the MetadataRegistry. 
                Please profile the project by clicking the <i class="fas fa-chart-bar"></i> button.
            </div>

            <div *ngFor="let l of linksets">
                <div class="listItem" [ngClass]="{ selectedResource : l == selectedLinkset }" style="cursor: pointer;" (click)="selectLinkset(l)">
                    <span class="badge badge-info mr-1">
                        <ng-container *ngIf="!showPercentage">{{l.linkCount}}</ng-container>
                        <ng-container *ngIf="showPercentage">{{l.linkPercentage}}%</ng-container>
                    </span>
                    <span>{{l.getTargetDatasetShow()}}</span>
                </div>
            </div>
        </div>
    </div>
</div>