<div class="card vbox">
    <div class="card-header">
        <div class="btn-toolbar float-right">

            <button class="btn btn-light btn-sm" [ngClass]="{active : showPercentage}" [title]="'ALIGNMENTS.ACTIONS.SHOW_PERCENTAGE'|translate" (click)="showPercentage = !showPercentage">
                <span class="fas fa-percent"></span>
            </button>

            <button class="btn btn-light btn-sm ml-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()" [disabled]="loadingProfile">
                <span class="fas fa-sync"></span>
            </button>

            <button class="btn btn-sm btn-light ml-1" (click)="refreshProfile()" [title]="'ALIGNMENTS.ACTIONS.REFRESH_DATASET_PROFILE'|translate" [disabled]="loadingProfile">
                <i *ngIf="!loadingProfile" class="fas fa-chart-bar"></i>
                <div *ngIf="loadingProfile" class="spinner-border spinner-border-sm text-info"></div>
            </button>
        </div>
    </div>
    
    <div class="card-body vbox">
        <alignments-list [showPercentage]="showPercentage" (linksetSelected)="onLinksetSelected($event)"></alignments-list>
    </div>

</div>