<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-info" [routerLink]="['/home']" style="font-weight: bold">PMKI</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="navbarCollapsed = !navbarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="isLogged()" class="collapse navbar-collapse" id="mainNavbar" [ngbCollapse]="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/datasets']" routerLinkActive="active">Datasets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/search']" routerLinkActive="active">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/alignments']" routerLinkActive="active">Alignments</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li *ngIf="isAdminLogged()" class="nav-item dropdown" ngbDropdown display="dynamic">
                <a class="nav-link dropdown-toggle dropdown-no-arrow" style="padding: .5rem;" [routerLink]="" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-bars"></span>
                </a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/admin']">Administration dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
                </div>
            </li>
            <button *ngIf="!isAdminLogged()" class="btn btn-outline-info" routerLink="/login">Login</button>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer bg-info py-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="btn-group btn-group-sm dropup" ngbDropdown placement="top-left">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                        About PMKI
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href="#">PMKI website</a>
                        <a class="dropdown-item" href="#">Contact us</a>
                        <a class="dropdown-item" href="#">Support</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <a class="btn btn-sm btn-info float-right" href="http://art.uniroma2.it/" target="_blank">© ART Group</a>
            </div>
        </div>
    </div>
</footer>