<nav *ngIf="isNavVisible()" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-info" [routerLink]="['/home']" style="font-weight: bold">ShowVoc</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="navbarCollapsed = !navbarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="isLogged()" class="collapse navbar-collapse" id="mainNavbar" [ngbCollapse]="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/datasets']" routerLinkActive="active">{{'DATASETS.DATASETS'|translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/search']" routerLinkActive="active">{{'SEARCH.SEARCH'|translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/alignments']" routerLinkActive="active">{{'ALIGNMENTS.ALIGNMENTS'|translate}}</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li *ngIf="isAdminLogged()" class="nav-item dropdown" ngbDropdown display="dynamic">
                <a class="nav-link dropdown-toggle dropdown-no-arrow" style="padding: .5rem;" [routerLink]="" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-bars"></span>
                </a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">
                        <div class="hbox p-2 align-items-center">
                            <i class="fas fa-user fa-lg"></i>
                            <a [routerLink]="['/profile']" class="ml-3">
                                <span style="font-weight: bold;">{{currentUser.getShow()}}</span>
                            </a>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/admin']">{{'APP.USER_MENU.ADMINISTRATION_DASHBOARD'|translate}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="" (click)="logout()">{{'APP.USER_MENU.LOGOUT'|translate}}</a>
                </div>
            </li>
            <button *ngIf="!isAdminLogged()" class="btn btn-outline-info" routerLink="/login">{{'APP.USER_MENU.LOGIN'|translate}}</button>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer bg-info py-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="btn-group btn-group-sm dropup" ngbDropdown placement="top-left">
                    <button class="btn btn-info dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
                        <span class="fas fa-globe-europe"></span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a *ngFor="let l of translateLangs" class="dropdown-item" (click)="changeLang(l)">
                            {{l}}
                            <i *ngIf="translateLang == l" class="fas fa-check float-right"></i>
                        </a>
                    </div>
                </div>
                <div class="btn-group btn-group-sm dropup" ngbDropdown placement="top-left" display="static">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                        {{'APP.FOOTER.ABOUT_SHOWVOC'|translate}}
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href="http://showvoc.uniroma2.it" target="_blank">{{'APP.FOOTER.SHOWVOC_WEBSITE'|translate}}</a>
                        <a class="dropdown-item" href="http://showvoc.uniroma2.it/aboutus/" target="_blank">{{'APP.FOOTER.CONTACT_US'|translate}}</a>
                        <a class="dropdown-item" href="http://showvoc.uniroma2.it/support/" target="_blank">{{'APP.FOOTER.SUPPORT'|translate}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="copyWebApiUrl()">
                            <span class="fas fa-code mr-2"></span>{{'APP.FOOTER.WEB_API'|translate}}
                        </a>
                    </div>
                </div>
                <span class="text-white ml-3" style="font-size: .75rem;">
                    v. {{appVersion}}
                </span>
            </div>
            <div class="col">
                <a class="btn btn-sm btn-info float-right" href="http://art.uniroma2.it/" target="_blank">© ART Group</a>
            </div>
        </div>
    </div>
</footer>


<app-toasts></app-toasts>