<div *ngIf="loading" class="spinner-border text-info"></div>

<div class="card vbox">
    <div class="card-body table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <th>{{'DATASETS.DATASET'|translate}}</th>
                    <th>
                        {{'ALIGNMENTS.ALIGNMENTS'|translate}}
                        <button class="btn btn-xs btn-light ml-2" [ngClass]="{ active: showPercentage }" 
                            (click)="showPercentage = !showPercentage" title="Show percentage">
                            <i class="fas fa-percent"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let l of linksets" (click)="showMappings(l)"  style="cursor: pointer">
                    <td>{{l.getTargetDatasetShow()}}</td>
                    <td>
                        <ng-container *ngIf="!showPercentage">{{l.linkCount}}</ng-container>
                        <ng-container *ngIf="showPercentage">{{l.linkPercentage}}%</ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>