<div class="card vbox" *ngIf="annotatedResource">
    <div class="card-header">
        <div class="hbox">
            <rdf-resource [resource]="annotatedResource"></rdf-resource>
            <input class="form-control form-control-sm ml-2" [ngModel]="annotatedResource.getValue().stringValue()" readonly>

            <div class="btn-toolbar" style="flex-wrap: nowrap">
                <button class="btn btn-light btn-sm ml-1" [ngClass]="{active: showInferred}" title="Show/hide inferred information" (click)="switchInferred()">
                    <i *ngIf="showInferred" class="fa fa-eye"></i>
                    <i *ngIf="!showInferred" class="fa fa-eye-slash"></i>
                </button>
                <button class="btn btn-light btn-sm ml-1" [ngClass]="{active: rendering}" title="Rendering" (click)="switchRendering()">
                    <i class="fa fa-font"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card-body scrollableContainer p-2">
        <div *ngIf="loading" class="spinner-border text-info"></div>

        <renderer *ngIf="typesColl?.length > 0" [poList]="typesColl"></renderer>
        <renderer *ngIf="topconceptofColl?.length > 0" [poList]="topconceptofColl"></renderer>
        <renderer *ngIf="schemesColl?.length > 0" [poList]="schemesColl"></renderer>

        <!-- LEXICALIZATIONS -->
        <renderer *ngIf="lexicalizationsColl?.length > 0" [poList]="lexicalizationsColl"></renderer>
        <renderer *ngIf="lexicalFormsColl?.length > 0" [poList]="lexicalFormsColl"></renderer>

        <!-- AXIOMS -->
        <!-- classes -->
        <renderer *ngIf="classAxiomColl?.length > 0" [poList]="classAxiomColl"></renderer>
        <!-- concepts -->
        <renderer *ngIf="broadersColl?.length > 0" [poList]="broadersColl"></renderer>
        <!-- properties -->
        <renderer *ngIf="superpropertiesColl?.length > 0" [poList]="superpropertiesColl"></renderer>
        <renderer *ngIf="equivalentPropertiesColl?.length > 0" [poList]="equivalentPropertiesColl"></renderer>
        <renderer *ngIf="disjointPropertiesColl?.length > 0" [poList]="disjointPropertiesColl"></renderer>
        <renderer *ngIf="subPropertyChainsColl?.length > 0" [poList]="subPropertyChainsColl"></renderer>
        <!-- lexical entries -->
        <renderer *ngIf="subtermsColl?.length > 0" [poList]="subtermsColl"></renderer>
        <!-- properties -->
        <renderer *ngIf="domainsColl?.length > 0" [poList]="domainsColl"></renderer>
        <renderer *ngIf="rangesColl?.length > 0" [poList]="rangesColl"></renderer>
        <renderer *ngIf="inverseofColl?.length > 0" [poList]="inverseofColl"></renderer> <!-- propertyFacets ? -->
        


        <renderer *ngIf="notesColl?.length > 0" [poList]="notesColl"></renderer>

        <!-- OTHER DETAILS -->
        <!-- lexical entries -->
        <renderer *ngIf="denotationsColl?.length > 0" [poList]="denotationsColl"></renderer>
        <renderer *ngIf="evokedLexicalConceptsColl?.length > 0" [poList]="evokedLexicalConceptsColl"></renderer>
        <renderer *ngIf="formBasedPreviewColl?.length > 0" [poList]="formBasedPreviewColl"></renderer>
        <renderer *ngIf="constituentsColl?.length > 0" [poList]="constituentsColl"></renderer>
        <renderer *ngIf="rdfsMembersColl?.length > 0" [poList]="rdfsMembersColl"></renderer>
        <!-- collections details -->
        <renderer *ngIf="membersColl?.length > 0" [poList]="membersColl"></renderer>
        <renderer *ngIf="membersOrderedColl?.length > 0" [poList]="membersOrderedColl"></renderer>
        <!-- xlabels -->
        <renderer *ngIf="labelRelationsColl?.length > 0" [poList]="labelRelationsColl"></renderer>
        <!-- ontolex forms -->
        <renderer *ngIf="formRepresentationsColl?.length > 0" [poList]="formRepresentationsColl"></renderer>
        <!-- ontologies -->
        <renderer *ngIf="importsColl?.length > 0" [poList]="importsColl"></renderer>
        
        <!-- Commons -->
        <renderer *ngIf="propertiesColl?.length > 0" [poList]="propertiesColl"></renderer>

        <!-- <table class="table table-sm">
            <colgroup>
                <col style="width: 1%">
            </colgroup>
            <tbody>

                <tr>
                    <th scope="row">ID</th>
                    <td>{{annotatedResource.getValue().stringValue()}}</td>
                </tr>

                <tr>
                    <th scope="row">Type</th>
                    <td>{{annotatedResource.getAttribute('role')}}</td>
                </tr>
                
                <tr>
                    <th scope="row" rowspan="3" nowrap>Preferred label</th>
                    <td>preferred label@en</td>
                </tr>
                <tr>
                    <td>etichetta preferita@it</td>
                </tr>
                <tr>
                    <td>étiquette préférée@fr</td>
                </tr>


                <tr>
                    <th scope="row" rowspan="2">Note</th>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur
                    </td>
                </tr>
                <tr>
                    <td>
                        Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </td>
                </tr>

                <tr>
                    <th scope="row" rowspan="4">Related</th>
                    <td>:relatedOne</td>
                </tr>
                <tr>
                    <td>:relatedTwo</td>
                </tr>
                <tr>
                    <td>:relatedThree</td>
                </tr>
                <tr>
                    <td>:relatedFour</td>
                </tr>

            </tbody>
        </table> -->
    </div>
</div>