<div class="card vbox" *ngIf="annotatedResource">
    <div class="card-header">
        <div class="hbox">
            <rdf-resource [resource]="annotatedResource"></rdf-resource>
            <input class="form-control form-control-sm ml-2" [ngModel]="annotatedResource.getValue().stringValue()" readonly>

            <div class="btn-toolbar" style="flex-wrap: nowrap">
                <button class="btn btn-light btn-sm ml-1" [ngClass]="{active: showInferred}" title="Show/hide inferred information" (click)="switchInferred()">
                    <i *ngIf="showInferred" class="fas fa-eye"></i>
                    <i *ngIf="!showInferred" class="fas fa-eye-slash"></i>
                </button>
                <button class="btn btn-light btn-sm ml-1" [ngClass]="{active: rendering}" title="Rendering" (click)="switchRendering()">
                    <i class="fas fa-font"></i>
                </button>
                <button *ngIf="btnSettingsAvailable" class="btn btn-light btn-sm ml-1" title="Settings" (click)="settings()">
                    <i class="fas fa-cog"></i>
                </button>
                <div *ngIf="btnGraphAvailable" class="btn-group btn-group-sm dropup ml-1" ngbDropdown placement="bottom-right">
                    <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle></button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button *ngIf="btnGraphAvailable" class="dropdown-item" (click)="openDataGraph()">Open graph representation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body scrollableContainer p-2">
        <div *ngIf="loading" class="spinner-border text-info"></div>

        <div *ngIf="unknownHost" class="alert alert-danger">
            This resource is not available on accessible local datasets nor can be reached on the Web
        </div>
        <div *ngIf="unexistingResource" class="alert alert-danger">
            This resource is not available in the current dataset
        </div>
        
        <ng-container *ngIf="!unexistingResource && !unknownHost">

            <renderer *ngIf="typesColl?.length > 0" [poList]="typesColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="topconceptofColl?.length > 0" [poList]="topconceptofColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="schemesColl?.length > 0" [poList]="schemesColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>

            <!-- LEXICALIZATIONS -->
            <renderer *ngIf="lexicalizationsColl?.length > 0" [poList]="lexicalizationsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="lexicalFormsColl?.length > 0" [poList]="lexicalFormsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>

            <!-- AXIOMS -->
            <!-- classes -->
            <renderer *ngIf="classAxiomColl?.length > 0" [poList]="classAxiomColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <!-- concepts -->
            <renderer *ngIf="broadersColl?.length > 0" [poList]="broadersColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <!-- properties -->
            <renderer *ngIf="superpropertiesColl?.length > 0" [poList]="superpropertiesColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="equivalentPropertiesColl?.length > 0" [poList]="equivalentPropertiesColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="disjointPropertiesColl?.length > 0" [poList]="disjointPropertiesColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="subPropertyChainsColl?.length > 0" [poList]="subPropertyChainsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <!-- lexical entries -->
            <renderer *ngIf="subtermsColl?.length > 0" [poList]="subtermsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <!-- properties -->
            <renderer *ngIf="domainsColl?.length > 0" [poList]="domainsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="rangesColl?.length > 0" [poList]="rangesColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="inverseofColl?.length > 0" [poList]="inverseofColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer> <!-- propertyFacets ? -->
            


            <renderer *ngIf="notesColl?.length > 0" [poList]="notesColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>

            <!-- OTHER DETAILS -->
            <!-- lexical entries -->
            <renderer *ngIf="denotationsColl?.length > 0" [poList]="denotationsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="evokedLexicalConceptsColl?.length > 0" [poList]="evokedLexicalConceptsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="formBasedPreviewColl?.length > 0" [poList]="formBasedPreviewColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="constituentsColl?.length > 0" [poList]="constituentsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="rdfsMembersColl?.length > 0" [poList]="rdfsMembersColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <!-- collections details -->
            <renderer *ngIf="membersColl?.length > 0" [poList]="membersColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <renderer *ngIf="membersOrderedColl?.length > 0" [poList]="membersOrderedColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <!-- xlabels -->
            <renderer *ngIf="labelRelationsColl?.length > 0" [poList]="labelRelationsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <!-- ontolex forms -->
            <renderer *ngIf="formRepresentationsColl?.length > 0" [poList]="formRepresentationsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            <!-- ontologies -->
            <renderer *ngIf="importsColl?.length > 0" [poList]="importsColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>
            
            <!-- Commons -->
            <renderer *ngIf="propertiesColl?.length > 0" [poList]="propertiesColl" [rendering]="rendering" (dblclickObj)="objectDblClick($event)"></renderer>

        </ng-container>
    </div>
</div>