<div class="card vbox">
	<div class="card-header">
        <div class="btn-toolbar float-right">
			<button class="btn btn-light btn-sm" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="rendering=!rendering">
				<i class="fas fa-font"></i>
			</button>
			<button class="btn btn-light btn-sm ml-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
				<span class="fas fa-sync"></span>
			</button>
        </div>
	</div>
	
	<div class="card-body vbox">
		<collection-tree [rendering]="rendering" [showDeprecated]="showDeprecated" [context]="context" (nodeSelected)="onNodeSelected($event)">
        </collection-tree>
	</div>

	<div *ngIf="!hideSearch" class="card-footer">
        <search-bar (searchResults)="handleSearchResults($event)" (advancedSearchResult)="handleAdvSearchResult($event)"
			[roles]="[panelRole]" [context]="context"></search-bar>
	</div>
</div>