<div class="card vbox">
    <div class="card-header hbox" style="flex: initial">
        <label style="flex: 1">{{settings?.shortName}}</label>
        <div *ngIf="scope">
            <label>scope:</label>
            <span>{{scope}}</span>
        </div>
    </div>
    <div class="card-body" class="scrollableContainer">

        <ngb-alert *ngIf="settings?.htmlDescription && !closedAlert1" (close)="closedAlert1=true" type="info" class="mb-1">
            <div class="hbox" style="align-items: center;">
                <span class="fa fa-info-circle mr-1"></span>
                <span style="flex: 1;" [innerHTML]="safeDescription"></span>
            </div>
        </ngb-alert>


        <ngb-alert *ngIf="settings?.htmlWarning && !closedAlert2" (close)="closedAlert2=true" type="info" class="mb-1">
            <div class="hbox" style="align-items: center;">
                <span class="fa fa-exclamation-triangle mr-1"></span>
                <span style="flex: 1;" [innerHTML]="safeWarning"></span>
            </div>
        </ngb-alert>

        <settings-renderer [(ngModel)]="settings" (ngModelChange)="onModelChanged()"></settings-renderer>
        
    </div>
</div>