<div class="container my-3">
    <form>
        <div class="form-group">
            <label>E-mail address</label>
            <input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Enter e-mail">
        </div>
        <button class="btn btn-info" (click)="reset()" [disabled]="!isEmailValid() || loading">
            Reset password
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        </button>
    </form>
</div>