<div class="modal-header">
    <h5 class="modal-title">{{'ADMINISTRATION.DATASETS.CREATE_DATASET'|translate}}</h5>
    <button class="close" (click)="close()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="card">
        <div class="card-body">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.NAME'|translate}}</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" [(ngModel)]="projectName" (ngModelChange)="onProjectNameChange()" placeholder="Dataset name" sanitized>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" [(ngModel)]="baseURI" [placeholder]="'MODELS.PROJECT.BASE_URI'|translate">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.MODEL'|translate}}</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm" [(ngModel)]="selectedSemModel">
                        <option *ngFor="let m of semanticModels" [ngValue]="m.uri">{{m.show}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm" [(ngModel)]="selectedLexModel">
                        <option *ngFor="let m of lexicalizationModels" [ngValue]="m.uri">{{m.show}}</option>
                    </select>
                </div>
            </div>

            <hr class="separator">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.REPO_ACCESS'|translate}}</label>
                <div class="col-sm-10">
                    <div class="hbox">
                        <select class="form-control form-control-sm" [(ngModel)]="selectedRepositoryAccess">
                            <option *ngFor="let ra of repositoryAccessList">{{ra}}</option>
                        </select>
                        <div class="input-group input-group-sm ml-1" style="width: 60%;">
                            <select class="form-control form-control-sm" [(ngModel)]="selectedRemoteRepoConfig">
                                <option *ngFor="let conf of remoteRepoConfigs" [ngValue]="conf">{{conf.serverURL}}</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-info" (click)="configRemoteRepoAccess()">
                                    <span class="fas fa-edit"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.DATA_REPO_ID'|translate}}</label>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <input class="form-control" [(ngModel)]="dataRepoId" [placeholder]="'MODELS.PROJECT.DATA_REPO_ID'|translate" [disabled]="isRepoAccessCreateMode()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" (click)="changeRemoteRepository()" [disabled]="isRepoAccessCreateMode()">
                                <span class="fas fa-list"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="isRepoAccessCreateMode()">
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.CONFIG.CONFIGURATION'|translate}}</label>
                    <div class="col-sm-4">
                        <extension-configurator #dataRepoConfigurator *ngIf="dataRepoExtensions" [extensions]="dataRepoExtensions" [storeable]="false" 
                            (extensionUpdated)="selectedDataRepoExtension = $event" (configurationUpdated)="selectedDataRepoConfig = $event">
                        </extension-configurator>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isRepoAccessCreateMode()">
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BACKEND_TYPE'|translate}}</label>
                    <div class="col-sm-4">
                        <select class="form-control form-control-sm" [(ngModel)]="selectedCoreRepoBackendType">
                            <option *ngFor="let bt of backendTypes">{{bt}}</option>
                        </select>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="loading">
        Ok <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
</div>