<div class="card vbox">

    <div class="card-header">
        <label>Projects manager</label>
        <div class="btn-toolbar float-right">
            <div class="btn-group">
                <button class="btn btn-light btn-sm" title="Create" (click)="createProject()">
                    <span class="fas fa-plus"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="card-body table-responsive">

        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Project Name</th>
                    <th class="text-center">Open/Close</th>
                    <th class="text-center">Model</th>
                    <th class="text-center">Lexicalization Model</th>
                    <th class="text-center">Location</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of projectList">
                    <td class="text-center">
                        <a [routerLink]="" (click)="goToProject(p)" [ngClass]="{ disabled: !p.isOpen() || p.role == rolePristine}">{{p.getName()}}</a>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-light" style="width: 32px;" (click)="openCloseProject(p)" [ngClass]="{ active: p.isOpen() }">
                            <i *ngIf="p.opening" class="spinner-border spinner-border-sm"></i>
                            <ng-container *ngIf="!p.opening">
                                <span *ngIf="p.isOpen()" class="fas fa-folder-open"></span>
                                <span *ngIf="!p.isOpen()" class="fas fa-folder"></span>
                            </ng-container>
                        </button>
                    </td>
                    <td class="text-center">{{p.getModelType(true)}}</td>
                    <td class="text-center">{{p.getLexicalizationModelType(true)}}</td>
                    <td class="text-center">
                        {{p.getRepositoryLocation().location}}
                        <span *ngIf="p.isRepositoryRemote()" class="fas fa-map-marker-alt" [title]="p.getRepositoryLocation().serverURL"></span>
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
                            <button data-toggle="dropdown" ngbDropdownToggle class="btn dropdown-toggle" 
                                [ngClass]="{'btn-success': p.role==rolePublic, 'btn-warning': p.role==roleStaging, 'btn-light dropdown-no-arrow': p.role==rolePristine}"
                                style="font-weight: 500;" [disabled]="p.role==rolePristine || p.createIndex">
                                {{roleStatusMap[p.role]}}
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button class="dropdown-item" (click)="changeProjectStatus(p, rolePublic)" [disabled]="p.role != roleStaging">Make public</button>
                                <button class="dropdown-item" (click)="changeProjectStatus(p, roleStaging)" [disabled]="p.role != rolePublic">Make staging</button>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-light" (click)="loadData(p)" title="Load data" [disabled]="!p.isOpen() || p.creatingIndex || p.opening">
                            <span class="fas fa-file-upload"></span>
                        </button>

                        <div class="btn-group btn-group-sm ml-1" ngbDropdown placement="bottom-right">
                            <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-light dropdown-toggle dropdown-no-arrow"
                                [disabled]="globalCreatingIndex || p.creatingIndex || p.opening" title="Indexing">
                                <i *ngIf="!p.creatingIndex" class="fas fa-th-list"></i>
                                <i *ngIf="p.creatingIndex" class="spinner-border spinner-border-sm"></i>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button class="dropdown-item" (click)="createIndex(p)">Create/refresh index</button>
                                <button class="dropdown-item" (click)="deleteIndex(p)">Delete index</button>
                            </div>
                        </div>
                        
                        <!-- <button class="btn btn-sm btn-light ml-1" (click)="editSettings(p)" title="Edit settings" [disabled]="!p.isOpen() || p.opening"> -->
                        <button class="btn btn-sm btn-light ml-1" (click)="editSettings(p)" title="Edit settings">
                            <span class="fas fa-user-cog"></span>
                        </button>

                        <button class="btn btn-sm btn-light ml-1" (click)="deleteProject(p)" [disabled]="p.isOpen() || p.opening">
                            <span class="fas fa-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>