<div class="card vbox">

    <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">{{'ADMINISTRATION.DATASETS.MANAGEMENT.DATASET_MANAGER'|translate}}</label>
        <div class="btn-toolbar">
            <button class="btn btn-light btn-sm" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createProject()">
                <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-light btn-sm ml-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="initProjects()">
                <span class="fas fa-sync"></span>
            </button>
            <button *ngIf="isAdmin" class="btn btn-light btn-sm ml-1" [title]="'ADMINISTRATION.DATASETS.MANAGEMENT.CUSTOM_PROJ_FACETS_SCHEMA_SETTINGS'|translate" (click)="editCustomFacetsSchema()">
                <span class="fas fa-cog"></span>
            </button>
        </div>
    </div>

    <div class="card-body table-responsive" style="overflow-x: hidden;">

        <table class="table table-sm">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width: 1%;">
            </colgroup>
            <thead class="thead-light">
                <tr>
                    <th class="text-center">{{'DATASETS.ATTR.DATASET_NAME'|translate}}</th>
                    <th class="text-center">{{'ADMINISTRATION.DATASETS.MANAGEMENT.OPEN_CLOSE'|translate}}</th>
                    <th class="text-center">{{'MODELS.PROJECT.MODEL'|translate}}</th>
                    <th class="text-center">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</th>
                    <th class="text-center">{{'MODELS.PROJECT.LOCATION'|translate}}</th>
                    <th class="text-center">{{'COMMONS.STATUS.STATUS'|translate}}</th>
                    <th class="text-center">
                        <!-- Actions -->
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of projectList">
                    <td class="text-center" style="max-width: 400px;" [title]="p.getName()">
                        <a [routerLink]="" (click)="goToProject(p)" class="d-block ellipsable" [ngClass]="{ disabled: !p.isOpen() || p.role == rolePristine}">
                            {{p.getName()}}
                        </a>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-light" style="width: 32px;" (click)="openCloseProject(p)" [ngClass]="{ active: p.isOpen() }" [disabled]="!isAdmin || p.creatingIndex || p.creatingMetadata">
                            <i *ngIf="p.opening" class="spinner-border spinner-border-sm"></i>
                            <ng-container *ngIf="!p.opening">
                                <span *ngIf="p.isOpen()" class="fas fa-folder-open"></span>
                                <span *ngIf="!p.isOpen()" class="fas fa-folder"></span>
                            </ng-container>
                        </button>
                    </td>
                    <td class="text-center">{{p.getModelType(true)}}</td>
                    <td class="text-center">{{p.getLexicalizationModelType(true)}}</td>
                    <td class="text-center">
                        {{p.getRepositoryLocation().location}}
                        <span *ngIf="p.isRepositoryRemote()" class="fas fa-map-marker-alt" [title]="p.getRepositoryLocation().serverURL"></span>
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
                            <button data-toggle="dropdown" ngbDropdownToggle class="btn dropdown-toggle" 
                                [ngClass]="{'btn-success': p.role==rolePublic, 'btn-warning': p.role==roleStaging, 'btn-light dropdown-no-arrow': p.role==rolePristine}"
                                style="font-weight: 500;" [disabled]="!isAdmin || p.role==rolePristine || p.createIndex">
                                {{roleStatusMap[p.role]}}
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button class="dropdown-item" (click)="changeProjectStatus(p, rolePublic)" [disabled]="p.role != roleStaging">{{'ADMINISTRATION.DATASETS.MANAGEMENT.MAKE_PUBLIC'|translate}}</button>
                                <button class="dropdown-item" (click)="changeProjectStatus(p, roleStaging)" [disabled]="p.role != rolePublic">{{'ADMINISTRATION.DATASETS.MANAGEMENT.MAKE_STAGING'|translate}}</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right top-right" container="body" display="dynamic">
                            <button class="btn btn-light" [ngClass]="{'dropdown-toggle': !p.creatingIndex && !p.creatingMetadata}" style="width: 32px;" data-toggle="dropdown" ngbDropdownToggle>
                                <div *ngIf="p.creatingIndex || p.clearingIndex || p.creatingMetadata || p.clearingData" class="spinner-border spinner-border-sm"></div>
                            </button>
                            <div class="dropdown-menu dropdown-menu-sm" ngbDropdownMenu>
                                <button class="dropdown-item" (click)="loadData(p)" [disabled]="!p.isOpen() || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
                                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.LOAD_DATA'|translate}}
                                </button>
                                <button class="dropdown-item" (click)="clearData(p)" [disabled]="!p.isOpen() || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
                                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.CLEAR_DATA'|translate}}
                                </button>
                                <button class="dropdown-item" (click)="createDownload(p)" [disabled]="!p.isOpen() || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
                                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.CREATE_DOWNLOAD'|translate}}
                                </button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item d-flex align-items-center" (click)="createIndex(p)" [disabled]="globalCreatingIndex || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
                                    <span style="flex: 1;">{{'ADMINISTRATION.DATASETS.MANAGEMENT.CREATE_REFRESH_INDEX'|translate}}</span>
                                    <span *ngIf="p.creatingIndex || p.clearingIndex" class="spinner-border spinner-border-sm ml-2"></span>
                                </button>
                                <button class="dropdown-item" (click)="deleteIndex(p)" [disabled]="globalCreatingIndex || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
                                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.DELETE_INDEX'|translate}}
                                </button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item d-flex align-items-center" (click)="createMapleMetadata(p)" [disabled]="p.creatingMetadata || p.opening || p.clearingData">
                                    <span style="flex: 1;">{{'DATASETS.ACTIONS.CREATE_REFRESH_METADATA'|translate}}</span>
                                    <span *ngIf="p.creatingMetadata" class="spinner-border spinner-border-sm ml-2"></span>
                                </button>
                                <div class="dropdown-divider"></div>
                                <button *ngIf="isAdmin && p.isRepositoryRemote()" class="dropdown-item" (click)="editRemoteRepoCredential(p)">
                                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_REMOTE_REPO_CONFIG'|translate}}
                                </button>
                                <button class="dropdown-item" (click)="editDescription(p)">
                                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_DESCRIPTION'|translate}}
                                </button>
                                <button class="dropdown-item" (click)="editFacets(p)">
                                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_FACETS'|translate}}
                                </button>
                                <button class="dropdown-item" (click)="editSettings(p)">
                                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_SETTINGS'|translate}}
                                </button>
                                <ng-container *ngIf="isAdmin">
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" (click)="deleteProject(p)" [disabled]="p.isOpen() || p.opening || p.creatingIndex || p.creatingMetadata || p.clearingData">
                                        {{'DATASETS.ACTIONS.DELETE_DATASET'|translate}}
                                    </button>
                                </ng-container>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>