<div class="container my-3">

	<h1>Search</h1>

	<div class="row">
		<div class="col">
			<div class="input-group">
				<input type="text" class="form-control" [(ngModel)]="searchString" (keydown.enter)="searchKeyHandler($event)" placeholder="Search">
				<div class="input-group-append">
					<button class="btn btn-info" (click)="search()" [disabled]="!searchString">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	

	<div class="row my-2">
		<div class="col">
			<!-- Spinner during search -->
			<div *ngIf="loading" class="spinner-border text-info"></div>
			<!-- # of results when searching is finished -->
			<p *ngIf="!loading && searchResults" class="card-text text-secondary">Found in {{searchResults.length}} datasets</p>

			<div *ngFor="let result of searchResults" class="mb-4">
				<h5 class="card-title">
					<a [routerLink]="" (click)="goToDataset(result.dataset)">{{result.dataset.title}}</a>
				</h5>
				<h6 class="card-subtitle mb-2">
					<a [href]="result.dataset.url" target="_blank" class="text-success">{{result.dataset.url}}</a>
				</h6>
				<p>
					<span [title]="result.resource.getValue().toNT()" style="font-weight: bold">{{result.resource.getShow()}}</span>
					<span *ngIf="result.resourceDescription" class="text-secondary"> - {{result.resourceDescription}}</span>
				</p>
			</div>
		</div>
	</div>
</div>