<div class="container my-3">
	<div class="jumbotron">

		<ng-container *ngIf="instanceName">
			<div class="d-flex align-items-center">
				<div class="p-2 mr-4" style="background: linear-gradient(180deg, #1e4387, #00b5e9); border-radius: 32px;">
					<img src="./assets/images/logos/sv_logo.png" style="max-height: 130px;">
				</div>
				<div>
					<h1 class="display-4">{{'HOME.WELCOME_W_INST_NAME.WELCOME'|translate:translationParam}}</h1>
					<p class="lead">
						{{'HOME.WELCOME_W_INST_NAME.POWERED_BY'|translate:translationParam}} (<a href="http://vocbench.uniroma2.it/pmki/">ShowVoc</a>)
					</p>
				</div>
			</div>
			<ng-container *ngIf="showContribution">
				<hr class="my-4">
				<a class="btn btn-info" [routerLink]="['/contribution']" role="button">{{'HOME.WELCOME_W_INST_NAME.CONTRIBUTE_TO'|translate:translationParam}}</a>
			</ng-container>
		</ng-container>

		<ng-container *ngIf="!instanceName">
			<div class="d-flex align-items-center">
				<div class="p-2 mr-4" style="background: linear-gradient(180deg, #1e4387, #00b5e9); border-radius: 32px;">
					<img src="./assets/images/logos/sv_logo.png" style="max-height: 130px;">
				</div>
				<h1 class="display-4">{{'HOME.WELCOME_WO_INST_NAME.WELCOME'|translate}}</h1>
			</div>
			<ng-container *ngIf="showContribution">
				<hr class="my-4">
				<a class="btn btn-info" [routerLink]="['/contribution']" role="button">{{'HOME.WELCOME_WO_INST_NAME.CONTRIBUTE_TO'|translate}}</a>
			</ng-container>
		</ng-container>

	</div>
</div>