<div class="container my-3">
	<div class="jumbotron">

		<ng-container *ngIf="instanceName">
			<h1 class="display-4">Welcome to {{instanceName}} dataset browser!</h1>
			<p class="lead">
				{{instanceName}} is powered by the Public Multilingual Knowledge Infrastructure (<a href=".">PMKI</a>)
			</p>
			<hr class="my-4">
			<a class="btn btn-info" [routerLink]="['/contribution']" role="button">Contribute to {{instanceName}}</a>
		</ng-container>

		<ng-container *ngIf="!instanceName">
			<h1 class="display-4">Welcome to PMKI!</h1>
			<p class="lead">Public Multilingual Knowledge Infrastructure for the Digital Single Market</p>
			<hr class="my-4">
			<a class="btn btn-info" [routerLink]="['/contribution']" role="button">Contribute to PMKI</a>
		</ng-container>

	</div>
</div>