<div class="container my-3">
	<!-- <h1>Welcome to PMKI!</h1> -->

	

	<div class="jumbotron">
		<h1 class="display-4">Welcome to PMKI!</h1>
		<p class="lead">Public Multilingual Knowledge Management Infrastructure for the Digital Single Market (PMKI)</p>
		<hr class="my-4">
		<!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
		<a class="btn btn-info" [routerLink]="['/contribution']" role="button">Contribute to PMKI</a>
	</div>

</div>