<div class="rdfResourceIcon">
    <ng-container *ngIf="language; then flagBlock; else iconBlock"></ng-container>
    <ng-template #flagBlock>
        <lang-item [language]="language" [disabled]="!isExplicit" [showName]="false" [showTag]="false"></lang-item>
    </ng-template>
    <ng-template #iconBlock>
        <img [src]="imgSrc" [title]="natureTooltip">    
    </ng-template>
</div>
<span [title]="resource.getValue().toNT()" [class]="'rdfResourceText' + renderingClass">
    <ng-container *ngIf="literalWithLink">
        <ng-container *ngFor="let s of splittedLiteral; let even=event">
            <span *ngIf="even">{{s}}</span>
            <a *ngIf="!even" [href]="s" target="_blank">{{s}}</a>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!literalWithLink">
        {{renderingLabel}}
    </ng-container>
</span>